


<div class="grid-container">
        <div class="grid-item">

   
    <li *ngIf="pokemon" class="mb-7 shadow">
        <section class="p-4">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ pokemon.id }}.png" class="block" />        </section>
        <section class="p-4">  
            <span class="pokName">{{ pokemon.name }}</span><br>
            <app-catched-pokemon-button [pokemon]="pokemon"></app-catched-pokemon-button>
           
        </section>
    </li>
</div>

</div>